In [11]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
import pandas as pd

# Kaggle

In [34]:
df = pd.read_csv('Kaggle.csv')
df.head()

,doc_id,title,mainText,veracity
0,0,#2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...,Print They should pay all the back all the mon...,False
1,1,The Mandela Effect was made by one overlooked ...,21st Century Wire says… As western media outle...,False
2,2,"Fearing Election Day Trouble, Some US Schools ...",United States Marine Field McConnell Plum Cit...,False
3,3,Minnesota Somali Groups Join to Speak with One...,"So ,you have Rothschild banksters and British ...",False
4,4,Gambia Joins South Africa and Burundi in Exodu...,Here is the problem . The USA constitution sta...,False

# Snopes

In [35]:
df_s = pd.read_csv('Snopes/New_1.csv')
df_s = df_s[['doc_id','title','mainText','veracity']]
df_s.head()

,doc_id,title,mainText,veracity
0,1,Donald Trump Called President Obama a ‘Lying N...,It is hardly a secret that Republican presiden...,False
1,2,What If Only Taxpayers Voted?\n\n,"On 28 August 2016, the web site The Burning Pl...",False
2,3,Empire State Building Lit Green on 9/11 for Mu...,"In September 2016, several online articles (in...",False
3,4,Did Obama Call Americans ‘Lazy’ in an Overseas...,Barack Obama became the first sitting United S...,False
4,5,Ivanka Trump’s ‘Lap Dance’ with Donald\n,"In September 2016, a photograph purportedly sh...",False

In [36]:
frames = [df, df_s]
df = pd.concat(frames, ignore_index=True)
df["doc_id"] = df.index
df.head()

,doc_id,title,mainText,veracity
0,0,#2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...,Print They should pay all the back all the mon...,False
1,1,The Mandela Effect was made by one overlooked ...,21st Century Wire says… As western media outle...,False
2,2,"Fearing Election Day Trouble, Some US Schools ...",United States Marine Field McConnell Plum Cit...,False
3,3,Minnesota Somali Groups Join to Speak with One...,"So ,you have Rothschild banksters and British ...",False
4,4,Gambia Joins South Africa and Burundi in Exodu...,Here is the problem . The USA constitution sta...,False

In [37]:
len(df)

301

# BuzzFeed

In [38]:
df_new = pd.read_csv('BuzzFeed.csv')
df_new = df_new[['doc_id','title','mainText','veracity']]
len(df_new)

1627

In [39]:
frames = [df, df_new]
df = pd.concat(frames, ignore_index=True)
df["doc_id"] = df.index
df.head()

,doc_id,title,mainText,veracity
0,0,#2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...,Print They should pay all the back all the mon...,False
1,1,The Mandela Effect was made by one overlooked ...,21st Century Wire says… As western media outle...,False
2,2,"Fearing Election Day Trouble, Some US Schools ...",United States Marine Field McConnell Plum Cit...,False
3,3,Minnesota Somali Groups Join to Speak with One...,"So ,you have Rothschild banksters and British ...",False
4,4,Gambia Joins South Africa and Burundi in Exodu...,Here is the problem . The USA constitution sta...,False

In [40]:
len(df)

1928

# Horne

In [41]:
df_h = pd.read_csv('Horne/Horne.csv')
df_h = df_h[['doc_id','title','mainText','veracity']]
len(df_h)

122

In [42]:
frames = [df, df_h]
df = pd.concat(frames, ignore_index=True)
df["doc_id"] = df.index
df.head()

,doc_id,title,mainText,veracity
0,0,#2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...,Print They should pay all the back all the mon...,False
1,1,The Mandela Effect was made by one overlooked ...,21st Century Wire says… As western media outle...,False
2,2,"Fearing Election Day Trouble, Some US Schools ...",United States Marine Field McConnell Plum Cit...,False
3,3,Minnesota Somali Groups Join to Speak with One...,"So ,you have Rothschild banksters and British ...",False
4,4,Gambia Joins South Africa and Burundi in Exodu...,Here is the problem . The USA constitution sta...,False

In [43]:
len(df)

2050

# Golbeck

In [44]:
df_g = pd.read_csv('Golbeck et. al Fake/Golbeck.csv')
df_g = df_g[['doc_id','title','mainText','veracity']]
len(df_g)

274

In [45]:
frames = [df, df_g]
df = pd.concat(frames, ignore_index=True)
df["doc_id"] = df.index
df.head()

,doc_id,title,mainText,veracity
0,0,#2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...,Print They should pay all the back all the mon...,False
1,1,The Mandela Effect was made by one overlooked ...,21st Century Wire says… As western media outle...,False
2,2,"Fearing Election Day Trouble, Some US Schools ...",United States Marine Field McConnell Plum Cit...,False
3,3,Minnesota Somali Groups Join to Speak with One...,"So ,you have Rothschild banksters and British ...",False
4,4,Gambia Joins South Africa and Burundi in Exodu...,Here is the problem . The USA constitution sta...,False

In [46]:
len(df)

2324

In [48]:
# Select all duplicate rows based on one column
duplicateRowsDF = df[df.duplicated(['title','mainText'],  keep=False)]
df = df.drop_duplicates(subset=['title', 'mainText'], keep ='last')

In [ ]:
df.to_csv("Fake_news_meta.csv",index=False)