In [1]:
import xml.etree.ElementTree as ET
from bs4 import BeautifulSoup
import pandas as pd

# Load XML files

In [2]:
tree = ET.parse('SemEval2019/articles-training-byarticle-20181122.xml')

In [3]:
root = tree.getroot()

In [7]:
with open("SemEval2019/articles-training-byarticle-20181122.xml") as fp:
    soup = BeautifulSoup(fp, "xml")

# Parse xml file into a dataframe

In [8]:
article = soup.find_all('article')
doc_id = []
mainText = [] 
for article in article:
    for p in article.find_all('p'):
        doc_number = article.get ('id')
        content = p.text
        doc_id.append(doc_number)
        mainText.append(content)
data = pd.DataFrame({'doc_id': doc_id, 'mainText': mainText})
df = data.groupby('doc_id')['mainText'].apply(' '.join).reset_index()
df.head()

    doc_id                                           mainText
0  0000000  Money ( Image by 401(K) 2013) Permission Detai...
1  0000001  Donald Trump ran on many braggadocios and larg...
2  0000002  In response to Joyce Newman’s recent letter ab...
3  0000003  After Colin Kaepernick rightly chose to kneel ...
4  0000004  Almost a half-century ago, in 1968, the United...

In [9]:
doc_id = []
mainText = [] 
title = []
author = []
portal = []


for node in root:
    doc_number = node.attrib.get('id')
    NewsTitle = node.attrib.get('title')        
    doc_id.append(doc_number)
    title.append(NewsTitle)
    
    
    
data = pd.DataFrame({'doc_id': doc_id, 'title': title})
data.head()

    doc_id                                              title
0  0000000               Kucinich: Reclaiming the money power
1  0000001  Trump Just Woke Up & Viciously Attacked Puerto...
2  0000002  Liberals wailing about gun control, but what a...
3  0000003  Laremy Tunsil joins NFL players in kneeling du...
4  0000004                           It's 1968 All Over Again

In [14]:
df2= pd.merge(data,df,how='inner',on=['doc_id'])
df2.head()

,doc_id,title,mainText
0,0000000,Kucinich: Reclaiming the money power,Money ( Image by 401(K) 2013) Permission Detai...
1,0000001,Trump Just Woke Up & Viciously Attacked Puerto...,Donald Trump ran on many braggadocios and larg...
2,0000002,"Liberals wailing about gun control, but what a...",In response to Joyce Newman’s recent letter ab...
3,0000003,Laremy Tunsil joins NFL players in kneeling du...,After Colin Kaepernick rightly chose to kneel ...
4,0000004,It's 1968 All Over Again,"Almost a half-century ago, in 1968, the United..."

In [26]:
tree1 = ET.parse('SemEval2019/ground-truth-training-byarticle-20181122.xml')

In [27]:
root1 = tree1.getroot()

In [29]:
doc_id = []
hyperpartisan = [] 



for node in root1:
    doc_number = node.attrib.get('id')
    hyper = node.attrib.get('hyperpartisan')        
    doc_id.append(doc_number)
    hyperpartisan.append(hyper)
    
    
    
data1 = pd.DataFrame({'doc_id': doc_id, 'hyperpartisan': hyperpartisan})
data1.head()

    doc_id hyperpartisan
0  0000000          true
1  0000001          true
2  0000002          true
3  0000003          true
4  0000004         false

In [30]:
df3= pd.merge(df2,data1,how='inner',on=['doc_id'])
df3.head()

,doc_id,title,mainText,hyperpartisan
0,0000000,Kucinich: Reclaiming the money power,Money ( Image by 401(K) 2013) Permission Detai...,true
1,0000001,Trump Just Woke Up & Viciously Attacked Puerto...,Donald Trump ran on many braggadocios and larg...,true
2,0000002,"Liberals wailing about gun control, but what a...",In response to Joyce Newman’s recent letter ab...,true
3,0000003,Laremy Tunsil joins NFL players in kneeling du...,After Colin Kaepernick rightly chose to kneel ...,true
4,0000004,It's 1968 All Over Again,"Almost a half-century ago, in 1968, the United...",false

# Export dataframe as csv

In [31]:
df3.to_csv("SemEval.csv",index=False)