In [1]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
import pandas as pd

# BuzzFeed

In [5]:
df = pd.read_csv('BuzzFeed.csv')
df = df[['doc_id','title','mainText','orientation']]
len(df)

1627

In [6]:
df.head()

,doc_id,title,mainText,orientation
0,930,Jerry Springer Just Summed Up Trump’s Debate W...,Millions of people tuned in Monday night to wa...,left
1,1390,Clinton Campaign Charges College Students $500...,The Clintons understand the average American. ...,right
2,1384,Migrant Reveals Sick Reason He Left…’to F*ck t...,Harassment is known in Arabic as ‘taharrush’. ...,right
3,924,Trump Said Obama Gave Iran “$150 Billion.” He ...,Democratic President Barack Obama pulled off a...,left
4,918,Hillary Accused Trump Of Calling Climate Chang...,Democratic nominee Hillary Clinton knows her f...,left

In [8]:
df['orientation']=df['orientation'].replace(['left','right'], 'True')
df['orientation']=df['orientation'].replace(['mainstream'], 'False')

In [10]:
df.columns = ['doc_id','title','mainText','hyperpartisan']

In [11]:
df.head()

,doc_id,title,mainText,hyperpartisan
0,930,Jerry Springer Just Summed Up Trump’s Debate W...,Millions of people tuned in Monday night to wa...,True
1,1390,Clinton Campaign Charges College Students $500...,The Clintons understand the average American. ...,True
2,1384,Migrant Reveals Sick Reason He Left…’to F*ck t...,Harassment is known in Arabic as ‘taharrush’. ...,True
3,924,Trump Said Obama Gave Iran “$150 Billion.” He ...,Democratic President Barack Obama pulled off a...,True
4,918,Hillary Accused Trump Of Calling Climate Chang...,Democratic nominee Hillary Clinton knows her f...,True

In [12]:
df.isnull().sum()

doc_id            0
title            31
mainText         23
hyperpartisan     0
dtype: int64

In [13]:
df_no_missing = df.dropna(subset=['mainText', 'title'])
df_no_missing = df_no_missing.reset_index(drop=True)

In [14]:
len(df_no_missing)

1590

# SemEval

In [16]:
df_s = pd.read_csv('SemEval.csv')
df_s.head()

,doc_id,title,mainText,hyperpartisan
0,0,Kucinich: Reclaiming the money power,Money ( Image by 401(K) 2013) Permission Detai...,True
1,1,Trump Just Woke Up & Viciously Attacked Puerto...,Donald Trump ran on many braggadocios and larg...,True
2,2,"Liberals wailing about gun control, but what a...",In response to Joyce Newman’s recent letter ab...,True
3,3,Laremy Tunsil joins NFL players in kneeling du...,After Colin Kaepernick rightly chose to kneel ...,True
4,4,It's 1968 All Over Again,"Almost a half-century ago, in 1968, the United...",False

In [18]:
df_s.isnull().sum()

doc_id           0
title            0
mainText         0
hyperpartisan    0
dtype: int64

In [19]:
frames = [df_no_missing, df_s]
df = pd.concat(frames, ignore_index=True)
df["doc_id"] = df.index
df.head()

,doc_id,title,mainText,hyperpartisan
0,0,Jerry Springer Just Summed Up Trump’s Debate W...,Millions of people tuned in Monday night to wa...,True
1,1,Clinton Campaign Charges College Students $500...,The Clintons understand the average American. ...,True
2,2,Migrant Reveals Sick Reason He Left…’to F*ck t...,Harassment is known in Arabic as ‘taharrush’. ...,True
3,3,Trump Said Obama Gave Iran “$150 Billion.” He ...,Democratic President Barack Obama pulled off a...,True
4,4,Hillary Accused Trump Of Calling Climate Chang...,Democratic nominee Hillary Clinton knows her f...,True

In [20]:
len(df)

2234

In [22]:
df.to_csv("hyper_news_meta.csv",index=False)